Connected Services/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56323/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56323/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56323/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf_Pharmacie" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ajouterclients_InputMessage">
    <wsdl:part name="parameters" element="tns:ajouterclients" />
  </wsdl:message>
  <wsdl:message name="IService1_ajouterclients_OutputMessage">
    <wsdl:part name="parameters" element="tns:ajouterclientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_verifierClients_InputMessage">
    <wsdl:part name="parameters" element="tns:verifierClients" />
  </wsdl:message>
  <wsdl:message name="IService1_verifierClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifierClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listeProduit_InputMessage">
    <wsdl:part name="parameters" element="tns:listeProduit" />
  </wsdl:message>
  <wsdl:message name="IService1_listeProduit_OutputMessage">
    <wsdl:part name="parameters" element="tns:listeProduitResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_passerCommande_InputMessage">
    <wsdl:part name="parameters" element="tns:passerCommande" />
  </wsdl:message>
  <wsdl:message name="IService1_passerCommande_OutputMessage">
    <wsdl:part name="parameters" element="tns:passerCommandeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_recupereParEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:recupereParEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_recupereParEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:recupereParEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modifierClients_InputMessage">
    <wsdl:part name="parameters" element="tns:modifierClients" />
  </wsdl:message>
  <wsdl:message name="IService1_modifierClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:modifierClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_supprimerClients_InputMessage">
    <wsdl:part name="parameters" element="tns:supprimerClients" />
  </wsdl:message>
  <wsdl:message name="IService1_supprimerClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:supprimerClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getcommandehisto_InputMessage">
    <wsdl:part name="parameters" element="tns:getcommandehisto" />
  </wsdl:message>
  <wsdl:message name="IService1_getcommandehisto_OutputMessage">
    <wsdl:part name="parameters" element="tns:getcommandehistoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ajouterclients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ajouterclients" message="tns:IService1_ajouterclients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ajouterclientsResponse" message="tns:IService1_ajouterclients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifierClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/verifierClients" message="tns:IService1_verifierClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/verifierClientsResponse" message="tns:IService1_verifierClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listeProduit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listeProduit" message="tns:IService1_listeProduit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listeProduitResponse" message="tns:IService1_listeProduit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="passerCommande">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/passerCommande" message="tns:IService1_passerCommande_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/passerCommandeResponse" message="tns:IService1_passerCommande_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recupereParEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/recupereParEmail" message="tns:IService1_recupereParEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/recupereParEmailResponse" message="tns:IService1_recupereParEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifierClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modifierClients" message="tns:IService1_modifierClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modifierClientsResponse" message="tns:IService1_modifierClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="supprimerClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/supprimerClients" message="tns:IService1_supprimerClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/supprimerClientsResponse" message="tns:IService1_supprimerClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getcommandehisto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getcommandehisto" message="tns:IService1_getcommandehisto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getcommandehistoResponse" message="tns:IService1_getcommandehisto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ajouterclients">
      <soap:operation soapAction="http://tempuri.org/IService1/ajouterclients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifierClients">
      <soap:operation soapAction="http://tempuri.org/IService1/verifierClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listeProduit">
      <soap:operation soapAction="http://tempuri.org/IService1/listeProduit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="passerCommande">
      <soap:operation soapAction="http://tempuri.org/IService1/passerCommande" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recupereParEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/recupereParEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifierClients">
      <soap:operation soapAction="http://tempuri.org/IService1/modifierClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimerClients">
      <soap:operation soapAction="http://tempuri.org/IService1/supprimerClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcommandehisto">
      <soap:operation soapAction="http://tempuri.org/IService1/getcommandehisto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:56323/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>