Connected Services/ServiceReference2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf_Pharmacie" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf_Pharmacie" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Commandes" nillable="true" type="tns:ArrayOfCommande" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_client" type="xs:int" />
      <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfCommande">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Commande" nillable="true" type="tns:Commande" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommande" nillable="true" type="tns:ArrayOfCommande" />
  <xs:complexType name="Commande">
    <xs:sequence>
      <xs:element minOccurs="0" name="Achats" nillable="true" type="tns:ArrayOfAchat" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="heure_commande" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_client" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id_commande" type="xs:int" />
      <xs:element minOccurs="0" name="statut_commande" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statut_livraison" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Commande" nillable="true" type="tns:Commande" />
  <xs:complexType name="ArrayOfAchat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Achat" nillable="true" type="tns:Achat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAchat" nillable="true" type="tns:ArrayOfAchat" />
  <xs:complexType name="Achat">
    <xs:sequence>
      <xs:element minOccurs="0" name="Commande" nillable="true" type="tns:Commande" />
      <xs:element minOccurs="0" name="Stock" nillable="true" type="tns:Stock" />
      <xs:element minOccurs="0" name="id_achat" type="xs:int" />
      <xs:element minOccurs="0" name="id_commande" type="xs:int" />
      <xs:element minOccurs="0" name="id_stock" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="prix_total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="quantité" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Achat" nillable="true" type="tns:Achat" />
  <xs:complexType name="Stock">
    <xs:sequence>
      <xs:element minOccurs="0" name="Achats" nillable="true" type="tns:ArrayOfAchat" />
      <xs:element minOccurs="0" name="Produits" nillable="true" type="tns:ArrayOfProduit" />
      <xs:element minOccurs="0" name="id_stock" type="xs:int" />
      <xs:element minOccurs="0" name="nom_produit_stock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quantite_produit" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stock" nillable="true" type="tns:Stock" />
  <xs:complexType name="ArrayOfProduit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produit" nillable="true" type="tns:Produit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduit" nillable="true" type="tns:ArrayOfProduit" />
  <xs:complexType name="Produit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Stock" nillable="true" type="tns:Stock" />
      <xs:element minOccurs="0" name="date_heure_ajout_produit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_produit" type="xs:int" />
      <xs:element minOccurs="0" name="id_stock" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="nom_produit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prix_unite" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="quantite" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produit" nillable="true" type="tns:Produit" />
  <xs:complexType name="ArrayOfProduitReturn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProduitReturn" nillable="true" type="tns:ProduitReturn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduitReturn" nillable="true" type="tns:ArrayOfProduitReturn" />
  <xs:complexType name="ProduitReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Achats" nillable="true" type="tns:ArrayOfAchat" />
      <xs:element minOccurs="0" name="Produits" nillable="true" type="tns:ArrayOfProduit" />
      <xs:element minOccurs="0" name="id_stock" type="xs:int" />
      <xs:element minOccurs="0" name="nom_produit_stock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quantite_produit" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProduitReturn" nillable="true" type="tns:ProduitReturn" />
  <xs:complexType name="ClientReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Commandes" nillable="true" type="tns:ArrayOfCommande" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_client" type="xs:int" />
      <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientReturn" nillable="true" type="tns:ClientReturn" />
  <xs:complexType name="ArrayOforderHisto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="orderHisto" nillable="true" type="tns:orderHisto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOforderHisto" nillable="true" type="tns:ArrayOforderHisto" />
  <xs:complexType name="orderHisto">
    <xs:sequence>
      <xs:element minOccurs="0" name="heureCommand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nom_Produit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prix_Produit_Unite" type="xs:double" />
      <xs:element minOccurs="0" name="prix_total" type="xs:double" />
      <xs:element minOccurs="0" name="quantite" type="xs:int" />
      <xs:element minOccurs="0" name="statutLivraison" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="orderHisto" nillable="true" type="tns:orderHisto" />
</xs:schema>