Connected Services/ServiceReference2/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56323/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf_Pharmacie" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcf_Pharmacie" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcf_Pharmacie" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ajouterclients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prenom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ajouterclientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ajouterclientsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifierClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifierClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verifierClientsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listeProduit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listeProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wcf_Pharmacie" minOccurs="0" name="listeProduitResult" nillable="true" type="q3:ArrayOfProduitReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="passerCommande">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomclient" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nomproduit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantité" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="passerCommandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="passerCommandeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recupereParEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recupereParEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wcf_Pharmacie" minOccurs="0" name="recupereParEmailResult" nillable="true" type="q4:ClientReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifierClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wcf_Pharmacie" minOccurs="0" name="client" nillable="true" type="q5:ClientReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifierClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifierClientsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="supprimerClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wcf_Pharmacie" minOccurs="0" name="client" nillable="true" type="q6:ClientReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="supprimerClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supprimerClientsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getcommandehisto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wcf_Pharmacie" minOccurs="0" name="client" nillable="true" type="q7:ClientReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getcommandehistoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wcf_Pharmacie" minOccurs="0" name="getcommandehistoResult" nillable="true" type="q8:ArrayOforderHisto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>